.title_2 {
  background-color: aquamarine;
  padding: 5px;
  border: 3px solid rgb(0, 99, 89);
  color: rgb(88, 0, 171);
}

h3 {
  background-color: bisque;
  padding: 5px;
  border: solid 2px black;
  font-family: monospace;
}

/* universel selector */

* {
  margin: 0;
}

#head-1 {
  background-color: black;
  border: 3px solid rgb(255, 181, 22);
  color: aliceblue;
  padding: 10px;
  font-family: monospace;
}

/* child selecter */
.parent_div > p {
  background-color: rgb(158, 255, 255);
  font-family: monospace;
  padding: 5px;
  border: 3px solid black;
  font-weight: bold;
}
