* {
  margin: 0;
  padding: 0;
}

h2 {
  color: purple;
  font-family: monospace;
  font-weight: bold;
  font-size: xx-large;
  margin: auto;
}

.container {
  display: flex;
  align-items: center;
  justify-items: center;
  padding: 10px;
  background-color: antiquewhite;
  margin: auto;
}
