* {
  margin: 0;
  padding: 0;
}

h2 {
  color: purple;
  font-family: monospace;
  font-weight: bold;
  font-size: xx-large;
  margin: auto;
}

.container {
  display: flex;
  align-items: center;
  justify-items: center;
  padding: 10px;
  background-color: antiquewhite;
  margin: auto;
}

.relative {
  background-color: #73ad21;
  height: 25px;
  position: sticky;
  margin: 5px 20px 0px 20px;
  border: 3px solid #dbffa8;
  height: auto;
}
.fixed {
  width: 100px;
  height: 100px;
  border-radius: 50px;
  background-color: black;
  position: fixed;
  bottom: 70px;
  left: 20px;
}

.fixed2 {
  width: 100px;
  height: 100px;
  border-radius: 50px;
  background-color: black;
  position: fixed;
  bottom: 70px;
  right: 20px;
}

.footer {
  width: 100%;
  background-color: #73ad21;
  position: fixed;
  bottom: 0;
  padding: 60px 0px 0px 0px;
  margin-top: 5px;
}
