@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: roboto;
  width: 100%;
}

.card {
  display: flex;
  border: 1px solid lightblue;
  position: relative;
  border-radius: 1rem;
  width: 60%;
  height: 75vh;
  text-align: center;
  background-color: whitesmoke;
  margin: 4rem auto;
}

.left {
  display: flex;
  position: relative;
  background-color: white;
  width: 50%;
  height: 100%;
  border-radius: 1rem 0 0 1rem;
}

.right {
  display: flex;
  position: relative;
  background-color: lightgreen;
  width: 50%;
  height: 100%;
  border-radius: 0 1rem 1rem 0;
}

.title {
  top: 2rem;
  left: 3rem;
  position: relative;
  color: #333;
  font-family: inter;
  font-weight: bold;
}

.title2 {
  top: 5rem;
  left: 2.5rem;
  position: absolute;
  color: rgb(175, 175, 175);
  font-family: inter;
  font-weight: 600;
  font-size: small;
}

.social {
  position: relative;
  top: 7rem;
  line-height: 0.8rem;
  text-align: left;
  font-family: inter;
  font-size: 0.9rem;
  font-weight: bold;
  color: #333;
}

.socialLink {
  font-size: smaller;
  color: #25d366;
  background-color: rgba(199, 255, 231, 0.521);
  padding: 0.1rem 0.25rem;
  border-radius: 2rem;
}

.socialImg {
  position: absolute;
  left: 0;
  margin-right: 10px;
  border-radius: 50%;
}
