* {
  font-family: inter;
  margin: 0;
  padding: 0;
}

button {
  background-color: orange;
  border: none;
  padding: 0.5rem 1.5rem;
  border-radius: 1rem;
}

body {
  min-width: fit-content;
  max-width: 700px;
  margin: 4rem auto;
}

.box {
  /* background-color: aquamarine; */
  border-radius: 5px;
  margin: 2px;
  padding: 10px;
}

.flex-container {
  border-radius: 1rem;
  padding: 1rem;
  box-shadow: 0 1px 20px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-left: 1rem;
}

.left {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: left;
  justify-content: space-around;
}

.right {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: right;
  justify-content: space-around;
}

.new {
  background-color: lightgreen;
  display: inline;
  padding: 2px 3px;
  border-radius: 1rem;
  font-size: smaller;
  font-weight: bold;
}
