* {
  margin: 0;
  padding: 0;
}

body {
  margin: 2rem;
}

.box {
  background-color: aquamarine;
  border-radius: 5px;
  margin: 2px;
  padding: 10px;
}

.flex-container {
  padding: 1rem;
  border: 1px solid black;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
}
