* {
  margin: 0;
  padding: 0;
}

body {
  min-width: fit-content;
  max-width: 50%;
  margin: 2rem auto;
}

.box {
  background-color: aquamarine;
  border-radius: 5px;
  margin: 2px;
  padding: 10px;
}

.flex-container {
  padding: 1rem;
  border: 1px solid black;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-left: 1rem;
}
