* {
  margin: 0;
  padding: 0;
}

.div {
  height: 100px;
  width: 100px;
  background-color: lightgreen;
  position: relative;
  animation-name: sample;
  animation-duration: 6s;
  animation-iteration-count: infinite;
}

@keyframes sample {
  /* from {
    background-color: lightskyblue;
    top: 0;
    left: 0;
    transform: rotate(0deg);
  }
  to {
    border-radius: 50%;
    width: 130px;
    height: 130px;
    background-color: lightcoral;
    top: 0;
    left: 1000px;
    transform: rotate(2000deg);
  } */

  0% {
    background-color: blue;
    top: 0;
    left: 0;
    /* transform: rotate(360deg); */
  }
  25% {
    background-attachment: green;
    top: 0;
    left: 500px;
    transform: rotate(360deg);
    opacity: 75%;
  }
  50% {
    background-color: red;
    top: 500px;
    left: 500px;
    transform: rotate(720deg);
    opacity: 50%;
  }
  75% {
    background-color: blueviolet;
    top: 500px;
    left: 0;
    transform: rotate(1080deg);
    opacity: 25%;
  }
  100% {
    background-color: black;
    top: 0;
    left: 0;
    transform: rotate(1440deg);
    opacity: 0;
  }
}
