<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script
      src="https://kit.fontawesome.com/e98c6c6906.js"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="./style.css" />
    <title>Document</title>
  </head>
  <body>
    <div class="grid">
      <div class="item item-1">
        <nav class="navbar">
          <span class="logo">
            <a href="#">Logo</a>
          </span>
          <span class="nav-links">
            <a href="#">Home</a>
            <a href="#">About</a>
            <a href="#">Services</a>
            <a href="#">Contact</a>
          </span>
        </nav>
      </div>
      <div class="item item-2">02</div>
      <div class="item item-3">
        <h1 class="heading">Welcome To My Wesite</h1>
      </div>
      <div class="item item-4">04</div>
      <div class="item">05</div>
      <div class="item">06</div>
      <div class="item">07</div>
      <div class="item">08</div>
      <div class="item">09</div>
      <div class="item item-10">10</div>
      <div class="item item-11">11</div>
      <div class="item item-12">
        <div class="footer">
          <p>&copy; 2024 Sameera Jayakodi. All Rights Reserved.</p>
          <p>
            <a href="#">Privacy Policy</a> | <a href="#">Terms of Service</a> |
            <a href="#">Contact Us</a>
          </p>
        </div>
      </div>
    </div>
  </body>
</html>
