.grid {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto;
}

.item {
  font-weight: bold;
  color: #333;
  font-family: inter;
  border-radius: 5px;
  background-color: lightgreen;
  margin: 5px;
  height: 100px;
  text-align: center;
  overflow-wrap: anywhere;
}

.item-1 {
  margin-top: 5px;
  top: 0;
  position: sticky;
  align-content: center;
  background-color: #333;
  grid-column-start: 1;
  grid-column-end: 7;
}

.item-2 {
  height: 100%;
  background-color: lightseagreen;

  grid-row-start: 2;
  grid-row-end: 5;
}
.item-3 {
  background: linear-gradient(to bottom right, #ff7e5f, #feb47b);
  height: 100%;
  grid-row-start: 2;
  grid-row-end: 5;
  grid-column-start: 2;
  grid-column-end: 6;
}

.item-4 {
  height: 100%;
  grid-row-start: 2;
  grid-row-end: 5;
  grid-row-start: 2;
  grid-row-end: 5;
}

/* .item-10 {
  grid-column-end: 7;
  grid-column-start: 6;
  height: 350px;
  grid-row-start: 5;
  grid-row-end: 7;
} */

a {
  color: white;
  text-decoration: none;
}
.item-12 {
  bottom: 0;
  position: relative;
  color: white;
  background-color: #333;
  grid-column-start: 1;
  grid-column-end: 7;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: #333;
}

.navbar a {
  color: white;
  text-decoration: none;
  padding: 0.5rem 1rem;
}

.navbar a:hover {
  background-color: #555;
}

.heading {
  flex-wrap: wrap;
  justify-content: center;
  display: flex;
  font-size: 7rem;
}

.flex {
  justify-content: space-around;
  display: flex;
  flex-wrap: wrap;
}

.item-flex {
  margin: 5px;
  align-content: center;
  text-align: center;
  color: white;
  width: 200px;
  height: 200px;
  background-color: darkmagenta;
}
