body {
  background-color: rgb(255, 249, 240);
  font-family: sans-serif;
  padding: 30%;
}

.main_div {
  background-color: white;
  padding: 1em;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
}

p {
  text-indent: 2em;
  text-align: justify;
}
