* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Helvetica;
}

.bank-services {
  margin-top: 20%;
  padding: 40px;
  background-color: #0955bd;
}

.sub-title {
  color: aliceblue;
  text-align: center;
  font-size: 1.5rem;
  align-self: center;
  margin-bottom: 2rem;
  display: block;
  width: 100%;
}

.item {
  text-decoration: none;
  padding: 1rem;
  background-color: white;
  border-radius: 2rem;
}

.owl-carousel {
  margin: 0 2rem 0 2rem;
  justify-content: center;
  display: flex;
  gap: 2rem;
  flex-direction: row;
}

a {
  color: #1d1b2d;
  text-decoration: none;
}

.button {
  font-size: 0.9rem;
}
