* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Nunito;
}

.bank-services {
  margin-top: 20%;
  padding: 40px;
  background-color: #0955bd;
}

.sub-title {
  color: white;
  text-align: center;
  font-size: 1.5rem;
  align-self: center;
  margin-bottom: 1rem;
  display: block;
  width: 100%;
}

.item {
  transition: transform 0.2s ease-in-out;
  text-decoration: none;
  padding: 0.6rem 1.1rem;
  background-color: white;
  border-radius: 50px;
}

.item:hover {
  transform: scale(0.98);
  scale: 0.99;
  text-decoration: none;
  padding: 0.6rem 1.1rem;
  background-color: white;
  border-radius: 3rem;
}

.owl-carousel {
  margin: 0 2rem 1rem 2rem;
  justify-content: center;
  display: flex;
  gap: 1rem;
  display: flex;
  flex-wrap: wrap;
}

a {
  font-size: 17px;
  color: #1d1b2d;
  text-decoration: none;
}

.card_section {
  font-family: Nunito;
  margin-top: 2rem;
  padding: 2rem 7rem;
  justify-content: space-between;
  display: flex;
  flex-wrap: wrap;
  border: 1px solid black;
}
.card {
  transition: transform 0.3s ease-in-out;
  font-size: 16px;
  box-shadow: 0 8px 14px 0 rgba(10, 5, 74, 0.15);
  padding: 1.8rem;
  width: 6.5rem;
  text-align: center;
  border-radius: 5px;
}

.card:hover {
  transform: scale(0.98);
  scale: 0.99;
  cursor: pointer;
  i {
    color: white;
  }
  color: white;
  background: linear-gradient(to right, #0949a2, #095bcc);
}

.card > i {
  color: #0955bd;
  margin-bottom: 1.5rem;
}
