.controller {
  margin-right: 3rem;
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  gap: 5rem;
  justify-content: center;
  align-items: center;
  color: black;
  font-weight: bold;
  padding-left: 30px;
  padding-right: 30px;
  border-radius: 50px;
}

.nav {
  position: sticky;
  top: 0;
  align-items: center;
  color: white;
  background-color: #0d1140;
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.title {
  font-weight: bold;
  font-size: 2rem;
  align-items: center;
  color: white;
  margin-left: 2rem;
}
