* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: inter;
}

.main {
  align-items: center;
  grid-template-columns: auto auto auto;
  display: grid;
}

.section {
  text-align: center;
  height: auto;
  margin: 5px;
  background-color: lightgreen;
  gap: 5px;
}

.section1 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  color: white;
  padding: 1rem;
  margin: 0;
  background-color: #db8c33;
  grid-column-start: 1;
  grid-column-end: 4;
}

.logo {
  width: 50%;
}

ul {
  padding: 0 1rem;
  gap: 8rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  list-style: none;
}

.section2 {
  border: 1px solid #333;
  background-color: white;

  grid-column-start: 1;
  grid-column-end: 4;
}

.form_div {
  padding: 1rem;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  display: grid;
  margin: 0 10rem;
  background-color: #e9e6e6;
}

.inputs {
  text-align: left;
  background-color: #e9e6e6;
  padding: 1rem;
  margin: 5px;
}

.input-1 {
  grid-column-start: 1;
  grid-column-end: 7;
}

.input-2 {
  grid-column-start: 7;
  grid-column-end: 13;
}

.input-3 {
  grid-column-start: 1;
  grid-column-end: 5;
}

.input-4 {
  grid-column-start: 5;
  grid-column-end: 9;
}

.input-5 {
  grid-column-start: 9;
  grid-column-end: 14;
}

.input-6 {
  grid-column-start: 1;
  grid-column-end: 5;
}

.input-7 {
  grid-column-start: 5;
  grid-column-end: 14;
}

.input-8 {
  grid-column-start: 9;
  grid-column-end: 14;
}

.section3 {
  height: auto;
  grid-column-start: 1;
  grid-column-end: 2;
}

.section4 {
  grid-column-start: 2;
  grid-column-end: 3;
}

.section5 {
  grid-column-start: 3;
  grid-column-end: 4;
}

.section6 {
  grid-column-start: 1;
  grid-column-end: 4;
}

input {
  width: 100%;
  background-color: #e9e6e6;
  border-radius: 5px;
  padding: 0.5rem;
}
