.btn {
  background-color: blue;
  color: white;
  padding: 10px;
  border-radius: 5px;
  border: none;
  font-family: inter;
  cursor: pointer;
  margin: 5px;
}

.outline_button {
  background-color: white;
  padding: 10px;
  border-radius: 5px;
}
