@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,500;1,200;1,300;1,400&family=Roboto:ital,wght@0,100;0,400;0,700;1,100&display=swap");

body {
  font-size: 2rem;
  font-family: roboto;
}

/* p {
  background-color: lightgray;
} */

main {
  /* background-color: aqua; */
}

/* .opposite {
  display: inline-block;
  background-color: #333;
  color: whitesmoke;
  margin-top: 100px;
  padding: 4rem;
  height: 4rem;
} */

ul {
  list-style-type: none;
  padding-left: 0;
  text-align: right;
  background-color: lightgray;
  margin: 0;
}
