body {
  background-image: url("https://s3-alpha-sig.figma.com/img/c9c3/cbc7/2592df79fba76064193ce2f3e90af47c?Expires=1722816000&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=pvgqZ8iE0s7WbPetxYbyaJo3YWCbfADFTIEteVrKQXSEWPzQzTUP3MFZ3vZFsa7SxT9nHXtUq6zSinZYXn~0F2ajs3EXBkHb9dgY2cLiL6mj~W1SwcuPV1CECad3uV48JMPgbT~ZCy5L~B-2gCdwkNsNj332CEyKEpiBLdsFRG3NE7fQszczxwLImVuOsSks9t8GsERvoBj4yEXQBK4l9OLvlzAxRSxajnb51d7G8iQt7s7WRQe~NlY1T29ejegfnn-qdshrvPJuLMvcKisxGsD~CUH4hVBwUMpUPrxbLF91CFF-fMKLiNa9Zc9ZhNjcd9pS~~fyPsS6QyVK1via~w__");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  margin: 0;
  padding: 0;

  width: 100%;
}

a {
  text-decoration: none;
}

nav {
  border: 1px solid #bd9292;
  z-index: 100;
  top: 10px;
  position: sticky;
  background-color: #bd9292;
  padding: 20px;
  border-radius: 5px;
  margin: 10px;
}

nav:hover {
  border: 1px solid white;
  z-index: 100;
  top: 10px;
  position: sticky;
  background-color: #bd9292;
  padding: 20px;
  border-radius: 5px;
  margin: 10px;
}
.fa-youtube {
  color: #ff0000;
  border-radius: 8px;
  padding: 2px 5px;
  background-color: white;
  margin-left: 3%;
}

.fa-youtube:hover {
  cursor: pointer;
  scale: 1.08;
  color: #ff0000;
  border-radius: 8px;
  padding: 2px 5px;
  background-color: white;
  margin-left: 3%;
}

.side-bar {
  position: fixed;
  top: 100px;
  bottom: 0px;
  left: 0px;
  margin-left: 10px;
  background-color: rgba(131, 131, 131, 0.2);
  width: 18%;
  border-radius: 10px;
  justify-items: center;
}

button {
  margin-top: 50px;
  width: 160px;
  border: 1px solid #bd9292;
  border-radius: 5px;
  padding: 15px 15px;
  font-family: inter;
  color: white;
  background-color: #bd9292;
  margin-left: 15%;
}

button:hover {
  scale: 1.02;
  cursor: pointer;
  margin-top: 50px;
  width: 160px;
  border: 1px solid white;
  border-radius: 5px;
  padding: 15px 15px;
  font-family: inter;
  color: white;
  background-color: #bd9292;
  margin-left: 15%;
}

.main {
  position: relative;
  border: 1px solid white;
  margin: 10px;
  margin-left: 235px;
  height: 1000px;
  border-radius: 10px;
}

h3 {
  font-weight: 500;
  margin-top: 40px;
  margin-left: 20px;
  font-family: inter;
  color: white;
}

.des1 {
  font-size: 17px;
  font-family: inter;
  top: 125px;
  position: absolute;
  margin-left: 20px;
  right: 30px;
  color: white;
}

.des2 {
  font-size: 17px;
  font-family: inter;
  top: 290px;
  position: absolute;
  margin-left: 20px;
  color: white;
  right: 30px;
}

.chart_name {
  margin-top: 400px;
}

.div1 {
  border: 2px solid white;
  position: relative;
  background-color: rgb(86, 0, 173);
  width: 150px;
  height: 150px;
  margin-left: 20px;
  text-align: center;
  border-radius: 5px;
  color: white;
  font-family: inter;
  vertical-align: middle;
  line-height: 150px;
}

.div1:hover {
  cursor: pointer;
  scale: 1.1;
  border: 2px solid white;
  position: relative;
  background-color: rgb(86, 0, 173);
  width: 150px;
  height: 150px;
  margin-left: 20px;
  text-align: center;
  border-radius: 5px;
  color: white;
  font-family: inter;
  vertical-align: middle;
  line-height: 150px;
}

.div2 {
  border: 2px solid white;
  position: relative;
  background-color: rgb(255, 136, 156);
  width: 150px;
  height: 150px;
  margin-left: 20px;
  text-align: center;
  border-radius: 5px;
  color: white;
  font-family: inter;
  vertical-align: middle;
  line-height: 150px;
  margin-top: -20px;
  margin-left: 140px;
}

.div2:hover {
  cursor: pointer;
  scale: 1.1;
  border: 2px solid white;
  position: relative;
  background-color: rgb(255, 136, 156);
  width: 150px;
  height: 150px;
  margin-left: 20px;
  text-align: center;
  border-radius: 5px;
  color: white;
  font-family: inter;
  vertical-align: middle;
  line-height: 150px;
  margin-top: -20px;
  margin-left: 140px;
}

.div5 {
  border: 2px solid white;
  top: -260px;
  position: relative;
  background-color: rgb(124, 43, 255);
  width: 150px;
  height: 150px;
  margin-left: 20px;
  text-align: center;
  border-radius: 5px;
  color: white;
  font-family: inter;
  vertical-align: middle;
  line-height: 150px;
  margin-top: -20px;
  margin-left: 500px;
}

.div5:hover {
  cursor: pointer;
  scale: 1.1;
  border: 2px solid white;
  top: -260px;
  position: relative;
  background-color: rgb(124, 43, 255);
  width: 150px;
  height: 150px;
  margin-left: 20px;
  text-align: center;
  border-radius: 5px;
  color: white;
  font-family: inter;
  vertical-align: middle;
  line-height: 150px;
  margin-top: -20px;
  margin-left: 500px;
}

.div4 {
  border: 2px solid white;
  top: -280px;
  position: relative;
  background-color: rgb(0, 188, 82);
  width: 150px;
  height: 150px;
  margin-left: 20px;
  text-align: center;
  border-radius: 5px;
  color: white;
  font-family: inter;
  vertical-align: middle;
  line-height: 150px;
  margin-left: 380px;
}

.div4:hover {
  cursor: pointer;
  scale: 1.1;
  border: 2px solid white;
  top: -280px;
  position: relative;
  background-color: rgb(0, 188, 82);
  width: 150px;
  height: 150px;
  margin-left: 20px;
  text-align: center;
  border-radius: 5px;
  color: white;
  font-family: inter;
  vertical-align: middle;
  line-height: 150px;
  margin-left: 380px;
}

.div3 {
  border: 2px solid white;
  top: -300px;
  position: relative;
  background-color: rgb(201, 140, 0);
  width: 150px;
  height: 150px;
  margin-left: 20px;
  text-align: center;
  border-radius: 5px;
  color: white;
  font-family: inter;
  vertical-align: middle;
  line-height: 150px;
  margin-left: 260px;
}

.div3:hover {
  cursor: pointer;
  scale: 1.1;
  border: 2px solid white;
  top: -300px;
  position: relative;
  background-color: rgb(201, 140, 0);
  width: 150px;
  height: 150px;
  margin-left: 20px;
  text-align: center;
  border-radius: 5px;
  color: white;
  font-family: inter;
  vertical-align: middle;
  line-height: 150px;
  margin-left: 260px;
}

footer {
  z-index: 100;
  bottom: 0;
  height: 150px;
  background-color: #bd9292;
  padding: 45px;
  margin: -10px 10px 0px 235px;
  left: 200px;
  color: white;
  font-family: inter;
  vertical-align: middle;
  line-height: 150px;
  text-align: center;
}

.fa-whatsapp {
  border: 2px solid #25d366;
  position: fixed;
  color: white;
  top: 470px;
  right: 35px;
  padding: 35px 18px;
  background-color: #25d366;
  border-radius: 50%;
}

.fa-whatsapp:hover {
  cursor: pointer;
  scale: 1.09;
  border: 2px solid white;
  position: fixed;
  color: white;
  top: 470px;
  right: 35px;
  padding: 35px 18px;
  background-color: #25d366;
  border-radius: 50%;
}
