/* * {
  margin: 0;
  padding: 0;
} */

body {
  background-image: url("https://s3-alpha-sig.figma.com/img/c9c3/cbc7/2592df79fba76064193ce2f3e90af47c?Expires=1722816000&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=pvgqZ8iE0s7WbPetxYbyaJo3YWCbfADFTIEteVrKQXSEWPzQzTUP3MFZ3vZFsa7SxT9nHXtUq6zSinZYXn~0F2ajs3EXBkHb9dgY2cLiL6mj~W1SwcuPV1CECad3uV48JMPgbT~ZCy5L~B-2gCdwkNsNj332CEyKEpiBLdsFRG3NE7fQszczxwLImVuOsSks9t8GsERvoBj4yEXQBK4l9OLvlzAxRSxajnb51d7G8iQt7s7WRQe~NlY1T29ejegfnn-qdshrvPJuLMvcKisxGsD~CUH4hVBwUMpUPrxbLF91CFF-fMKLiNa9Zc9ZhNjcd9pS~~fyPsS6QyVK1via~w__");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  margin: 0;
  padding: 0;

  width: 100%;
}

nav {
  z-index: 100;
  top: 10px;
  position: sticky;
  background-color: #bd9292;
  padding: 20px;
  border-radius: 5px;
  margin: 10px;
}

.fa-youtube {
  color: white;
  margin-left: 3%;
}

.side-bar {
  position: fixed;
  top: 100px;
  bottom: 0px;
  left: 0px;
  margin-left: 10px;
  background-color: rgba(131, 131, 131, 0.2);
  width: 18%;
  border-radius: 10px;
  justify-items: center;
}

button {
  margin-top: 40px;
  width: 160px;
  border: none;
  border-radius: 5px;
  padding: 10px 15px;
  font-family: inter;
  color: white;
  background-color: #bd9292;
  margin-left: 15%;
}

.main {
  position: relative;
  border: 1px solid white;
  margin: 10px;
  margin-left: 235px;
  height: 100vh;
  border-radius: 10px;
}

h3 {
  font-weight: 500;
  margin-top: 40px;
  margin-left: 20px;
  font-family: inter;

  color: white;
}

.des1 {
  font-size: 17px;
  font-family: inter;
  top: 125px;
  position: absolute;
  margin-left: 20px;
  right: 30px;
  color: white;
}

.des2 {
  font-size: 17px;
  font-family: inter;
  top: 290px;
  position: absolute;
  margin-left: 20px;
  color: white;
  right: 30px;
}
