<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SearchBar</title>
    <script
      src="https://kit.fontawesome.com/e98c6c6906.js"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="./style.css" />
  </head>
  <body>
    <div class="container">
      <i class="fa-solid fa-magnifying-glass"></i>
      <input class="searchBox" type="search" placeholder="Enter text here.." />
      <input type="submit" value="Search" class="searchButton" />
    </div>
  </body>
</html>
