body {
  margin: 0;
  font-family: Arial, sans-serif;
  display: flex;
  background-position-x: right;
  align-items: flex-end;
  height: 100vh;
  background-color: #333;
  background-image: url(./background.jpeg);
  background-position: left;
  background-repeat: no-repeat;
  background-size: 170%;
}

.container {
  position: relative;
  display: flex;
  width: 900px;
  height: 100vh;
  border-radius: 10px;
}

.login-container {
  border-radius: 0 1rem 1rem 0;
  background-color: white;

  min-width: 300px;
  padding: 60px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.logo-desctop {
  align-self: center;
  text-align: center;
  width: 50px;
}

h2 {
  text-align: center;
  color: #ff5722;
}

.input-group {
  margin-bottom: 20px;
  position: relative;
}

.input-group input {
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  border: none;
  background-color: #f1f1f1;
  font-size: 16px;
}

.eye-icon {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}

.options {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  margin-bottom: 20px;
}

.btn {
  width: 100%;
  padding: 10px;
  background-color: #ff5722;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin-bottom: 20px;
}

.google-sign-in {
  background-color: white;
  color: #757575;
  border: 1px solid #ddd;
}

.divider {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #ddd;
  font-size: 14px;
  margin-bottom: 20px;
}

.divider hr {
  width: 45%;
  border: none;
  border-top: 1px solid #ddd;
}

p {
  text-align: center;
  font-size: 14px;
}

a {
  text-decoration: none;
  color: inherit;
}
p a {
  color: #ff5722;
  text-decoration: none;
}

.background-image {
  width: 50%;
  background-image: url("background.jpg");
  background-size: cover;
  background-position: center;
}

.logo-mobile {
  display: none;
}
.google-icon {
  position: relative;
  top: 2px;
  width: 20px;
}
