.card {
    background-color: rgb(202, 202, 202);
    width: 500px;
    height: 500px;
    border-radius: 10px;
    border: 2px solid rgb(132, 132, 132);
    padding: 10px;
}

.cardContent {
    border: 2pc solid blue;
}