* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
}

.lightBar {
  display: flex;
  background-color: red;
  box-sizing: border-box;
}

.light {
  padding: 1rem;
  background-color: darkred;
}

@keyframes knightRider {
  0%,
  100% {
    background-color: darkred;
  }

  8.33%,
  91.67% {
    background-color: red;
  }
}

.light_1 {
  animation: knightRider 2s infinite ease-in-out;
  animation-delay: 0s;
}

.light_2 {
  animation: knightRider 2s infinite ease-in-out;
  animation-delay: 0.166s;
}

.light_3 {
  animation: knightRider 2s infinite ease-in-out;
  animation-delay: 0.333s;
}

.light_4 {
  animation: knightRider 2s infinite ease-in-out;
  animation-delay: 0.5s;
}

.light_5 {
  animation: knightRider 2s infinite ease-in-out;
  animation-delay: 0.666s;
}

.light_6 {
  animation: knightRider 2s infinite ease-in-out;
  animation-delay: 0.833s;
}
