* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: white;
  margin: 0;
}

.knight-rider {
  display: flex;
  justify-content: space-between;
}

.light {
  box-shadow: 1px 1px 1px red;
  width: 30px;
  height: 30px;
  margin: 0 5px;
  background-color: red;
}

@keyframes knightRider {
  0%,
  100% {
    background-color: rgb(255, 0, 0);
  }

  8.33%,
  91.67% {
    background-color: rgb(255, 0, 0);
  }
}

.light_1 {
  animation: knightRider 2s infinite ease-in-out;
  animation-delay: 0s;
}

.light_2 {
  animation: knightRider 2s infinite ease-in-out;
  animation-delay: 0.166s;
}

.light_3 {
  animation: knightRider 2s infinite ease-in-out;
  animation-delay: 0.333s;
}

.light_4 {
  animation: knightRider 2s infinite ease-in-out;
  animation-delay: 0.5s;
}

.light_5 {
  animation: knightRider 2s infinite ease-in-out;
  animation-delay: 0.666s;
}

.light_6 {
  animation: knightRider 2s infinite ease-in-out;
  animation-delay: 0.833s;
}
