* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
}

.lightBar {
  flex-direction: row;
  display: flex;
  background-color: red;
  width: fit-content;
  animation-name: sample;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

.light {
  border: 2px solid darkred;
  padding: 1rem;
}

.div {
  height: 100px;
  width: 100px;
  background-color: lightgreen;
  position: relative;
  animation-name: sample;
  animation-duration: 6s;
  animation-iteration-count: infinite;
}
@keyframes sample {
  0% {
    background-color: blue;
    top: 0;
    left: 0;
    /* transform: rotate(360deg); */
  }
  25% {
    background-attachment: green;
    top: 0;
    left: 500px;
    transform: rotate(360deg);
    opacity: 75%;
  }
  50% {
    background-color: red;
    top: 500px;
    left: 500px;
    transform: rotate(720deg);
    opacity: 50%;
  }
  75% {
    background-color: blueviolet;
    top: 500px;
    left: 0;
    transform: rotate(1080deg);
    opacity: 25%;
  }
  100% {
    background-color: black;
    top: 0;
    left: 0;
    transform: rotate(1440deg);
    opacity: 0;
  }
}
