/* .div {
  background-color: violet;
  height: 150px;
  width: 150px;
  transition: background-color 1s;
  transition: scale 1s;
}

.div:hover {
  background-color: lightseagreen;
  scale: 0.9;
} */

.circle {
  background-color: violet;
  height: 150px;
  width: 150px;
  position: relative;
  animation-name: sample;
  animation-duration: 5s;
  animation-iteration-count: infinite;
}

@keyframes sample {
  0% {
    background-color: blue;
    top: 300px;
    left: 500px;
  }
  25% {
    background-attachment: green;
    top: 200px;
    left: 400px;
    transform: rotate(360deg);
    opacity: 75%;
  }
  50% {
    background-color: red;
    top: 300px;
    left: 400px;
    transform: rotate(720deg);
    opacity: 50%;
  }
  75% {
    background-color: blueviolet;
    top: 100px;
    left: 0;
    transform: rotate(1080deg);
    opacity: 25%;
  }
  100% {
    background-color: black;
    top: 0;
    left: 0;
    transform: rotate(1440deg);
    opacity: 0;
  }
}
