body {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  height: 100vh;
}
.circle {
  height: 150px;
  width: 150px;
  border-radius: 50%;
  position: relative;
  animation-name: sample;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

@keyframes sample {
  0% {
    padding: 1rem;
    background-color: yellow;

    scale: 1;
  }
  25% {
    padding: 1rem;
    background-color: orange;

    scale: 2;
  }
  50% {
    padding: 1rem;
    background-color: green;

    scale: 3;
  }
  75% {
    padding: 1rem;
    background-color: blue;

    scale: 4;
  }
  100% {
    padding: 1rem;
    background-color: red;
    opacity: 3;
    scale: 5;
  }
}
