/* .div {
  background-color: violet;
  height: 150px;
  width: 150px;
  transition: background-color 1s;
  transition: scale 1s;
}

.div:hover {
  background-color: lightseagreen;
  scale: 0.9;
} */

.circle {
  background-color: violet;
  height: 150px;
  width: 150px;
  border-radius: 50%;
  animation-name: sample;
  animation-duration: 5s;
  animation-iteration-count: infinite;
}

@keyframes sample {
  0% {
    vertical-align: middle;
  }

  50% {
    top: 500px;
    left: 500px;
  }

  100% {
    position: relative;
    top: 0;
  }
}
